# Ignore node_modules directory
node_modules

# Ignore npm debug logs
npm-debug.log

# Ignore any .env files (containing sensitive information)
.env

# Ignore any files generated during development
.DS_Store
*.log
*.pid
*.seed
*.pid.lock

# Ignore any build artifacts
/build

# Ignore any test coverage reports
/coverage

# Ignore any editor-specific files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Ignore Docker-specific files
.dockerignore
.dockerignore.example
.dockerignore.sample
Dockerfile
docker-compose.yml

